#react vite
node_modules
/dist
/.cache
/.vite
/.vscode
.env
.env.local
.env.*.local
.env.*.development
.env.*.production

# .gitignore
__pycache__/
*.py[cod]
*.log
*.csv
*.dat
*.out
*.pid
*.gz

# Django
*.log
*.pot
*.pyc
*.pyo
*.mo
*.sqlite3
*.swp
*~
/static/
/media/

# Environment files
.env

# Python virtual environment
venv/

# OS
.DS_Store

# Docker
docker-compose.yml
Dockerfile
.dockerignore
.docker/
*.db

# Docker cache and temporary files
.docker/

# Logs and output files
*.log
*.txt

# Self-signed SSL certificates
/key.pem
/cert.pem

